<div class="header-signin-form">
	<%= form_for(:session, url: sessions_path) do |f| %>
		<%= f.text_field :email, :placeholder => "email", :style => "width: 150px; height: 12px; margin-top: 15px;" %>
		<%= f.password_field :password, :placeholder => "password", :style => "width: 110px;  height: 12px; margin-top: 15px;"  %>

		<%= f.submit "Sign in", class: "btn btn-info btn-small", style: "height: 23px;" %>
	<% end %>
	<%= link_to "Forgot your password?", new_password_reset_path %>
</div>