<%= form_for @comment do |f| %>
  <%= f.hidden_field :parent_id %>
  <%= f.hidden_field :form_id %>
  <p>
    <%= f.label :content, "New Comment" %><br />
    <%= f.text_area :content, :rows => 8 %>
  </p>
  <p><%= f.submit "Post Comment" %></p>
<% end %>