<%= form_for @form_request do |fr| %>
    Brief Description
    <u><a href="#" rel="tooltip" data-placement="right" title="Briefly describe the document you want."><i class="icon-question-sign"></i></a></u>
    <%= fr.text_field :name%>
    
    Additional Details
    <u><a href="#" rel="tooltip" data-placement="right" title="Provide any additional details that will help others understand your request."><i class="icon-question-sign"></i></a></u>
    <%= fr.text_area :description, :size => "10x10"%>
    
    Jurisdiction
    <u><a href="#" rel="tooltip" data-placement="right" title="Select the jurisdiction where you want to use this document. If the document does not need to be jurisdiction-specific, select &quot;Any.&quot;"><i class="icon-question-sign"></i></a></u>
    <div class = "jurisdropdown">
        <%= fr.select :jurisdiction, options_for_select(us_states) %>
    </div>
    
    Keywords
    <u><a href="#" rel="tooltip" data-placement="right" title="List any words or phrases that you would expect to lead to the requested document appearing in search results. Separate each word or phrase with a comma or semi-colon."><i class="icon-question-sign"></i></a></u>
    <%= fr.text_area :keywords, :size => "10x5" %>

    <div style="display: inline;">
        <%= fr.check_box :anonymous, :style=>"display: inline;" %>
        <%= fr.label :'Make Request Anonymously', :style=>"display: inline;" %>
        <u><a href="#" rel="tooltip" data-placement="right" style="display: inline;" title="If this box is checked, your name will not be revealed in connection with your request. This box is checked by default."><i class="icon-question-sign"></i></a></u>
    </div>
    <br/><br/>
    <%= fr.submit "Submit", :class => "btn  btn-success"%>
<% end %>