<H4><%= @form_request.name %></H4>

<div style="margin-top: -7px;">
	<% name = @form_request.user.name.gsub(' ', '_') %>
	requested by 
	<% if @form_request.anonymous == true %>
		anonymous
	<% else %>
		<%=link_to @form_request.user.name, usershow_path(name.downcase) %>
	<% end %>
	<%= time_ago_in_words(@form_request.created_at) %> ago
</div>

<div style="margin-top: 10px;">
	<% if @form_request.practice_area != nil %>
		<strong>Practice Area: </strong> <%= @form_request.practice_area.practice_area_title %> <br/>
	<% end %>
	<strong>Jurisdiction: </strong> <%= @form_request.jurisdiction %>
</div>

<div style="margin-top: 10px;">
	<strong>Description:</strong><%= @form_request.description %>
	<% if @form_request.keywords.length > 0 %>
		<br/><strong>Keywords:</strong><%= @form_request.keywords %>
	<% end %>
</div>
