<H3><%= @form_request.name %></H3>

<% if @form_request.jurisdiction %>
	<em><%= @form_request.jurisdiction %></em>
<% end %>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Requested <%= time_ago_in_words(@form_request.created_at) %> ago
<% if @form_request.anonymous == true %>
(anonymous)
<% else %>
<% name = @form_request.user.name.gsub(' ', '_') %>
by <%=link_to @form_request.user.name, usershow_path(name.downcase)%>
<% end %>

<br/><br/>

<em>Requester's Description:</em><br/> <%= @form_request.description %>

<br/><br/>

<% if @form_request.keywords.length > 0 %>
<em>Requester's Suggested Keywords:</em><br/> <%= @form_request.keywords %></H1>
<% end %>