<% @form_request_to_upload = FormRequest.new %>
<a data-toggle="modal" href="#modalFormRequest" class="btn"><img src="/assets/req-15x15.png"/> Request</a>

<div id="modalFormRequest" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="well">
    <h3>Request</h3><br />
    <div class = "row">
      <div class="span6">
        <%= form_for @form_request_to_upload do |fr| %>
        	  Brief Description
        	  <u><a href="#" rel="tooltip" data-placement="right" title="Briefly describe the document you want."><i class="icon-question-sign"></i></a></u>
            <%= fr.text_field :name %>
          	
            Additional Details
          	<u><a href="#" rel="tooltip" data-placement="right" title="Provide any additional details that will help others understand your request."><i class="icon-question-sign"></i></a></u>
            <%= fr.text_area :description, :size => "10x6" %>
          	
            Practice Area
            <u><a href="#" rel="tooltip" data-placement="right" title="Select the most applicable practice area for the requested document."><i class="icon-question-sign"></i></a></u>
            <div>
              <%= fr.select :practice_area_id, options_for_select(practice_areas)%>
            </div>

            Jurisdiction
          	<u><a href="#" rel="tooltip" data-placement="right" title="Select the jurisdiction where you want to use this document. If the document does not need to be jurisdiction-specific, select &quot;Any.&quot;"><i class="icon-question-sign"></i></a></u>
            <div class = "jurisdropdown">
          		<%= fr.select :jurisdiction, options_for_select(us_states) %>
          	</div>

          	Keywords
            <u><a href="#" rel="tooltip" data-placement="right" title="List any words or phrases that you would expect to lead to the requested document appearing in search results. Separate each word or phrase with a comma or semi-colon."><i class="icon-question-sign"></i></a></u>
          	<%= fr.text_area :keywords, :size => "10x5" %>
        	  
            <div style="display: inline;">
        		  <%= fr.check_box :anonymous, :checked => true, :style=>"margin-bottom: 6px;" %>
          		<%= fr.label :'Make Request Anonymously', :style=>"display: inline; margin-top: 20px;" %>
              <u><a href="#" rel="tooltip" data-placement="right" style="display: inline;" title="If this box is checked, your name will not be revealed in connection with your request. This box is checked by default."><i class="icon-question-sign"></i></a></u>
          	</div>
          	<br/><br/>
            <%= fr.submit "Submit", :class => "btn btn-info"%>
            <%= fr.submit :cancel, :class => "btn", :'data-dismiss' => "modal" %>
        <% end %>
      </div>
    </div>
  </div>
</div>