<% user = User.find_by_id(f.user_id) %>

<li>
	<% if user != nil %>
		<% name = user.name.gsub(' ', '_') %>
		<strong><%= link_to user.name, usershow_path(name) %></strong>
	<% end %>
	<span class="timestamp"><%= time_ago_in_words(f.created_at) %> ago</span><br/>
	<% if f.comment != nil %>
		<span class="content"><%= f.comment %></span><br/>
	<% else %>
		<span class="content"><%= f.form.description %></span><br/>
	<% end %>
	<% if f.form %>
		<em>associate document:</em> <%= link_to f.form.name, form_path(f.form) %>
	<% end %>
	<div class="actions">
    	<%= render 'form_requests/request_response_modal', :parent_id => f.id, :fr_id => f.form_request_id, :button => false %>
    	<% if current_user.id == f.user_id %>
    		&nbsp;&nbsp;&nbsp;<%= link_to :Delete, deleteresponse_path(f.id, :requestid => f.form_request_id.to_s) %>
    	<% end %>
	</div>
</li>

