<div id="myModalResponse<%=formrequest.id%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="well">
      <strong>
        <p><%= formrequest.name %><br/>
          <% if formrequest.anonymous == false %>
            Requested by <%= formrequest.user.name %> <%= time_ago_in_words(formrequest.created_at)%> ago
          <% else %>
            Anonymous request <%= time_ago_in_words(formrequest.created_at)%> ago
          <% end %>
        </p>
      </strong>
      <div class="field">
      <%= form_for @form, :html => {:multipart => true} do |f| %>
        <%= hidden_field_tag :requestid, formrequest.id %>
        <%= fields_for @requestresponse do |rr| %>
            Comment
            <%= rr.text_area :comment, :rows => 2 %>
        <% end %>
        <div class = "responsedocform">

          Descriptive Title
          <u><a href="#" rel="tooltip" data-placement="right" title="Enter a title that describes the document you are uploading."><i class="icon-question-sign"></i></a></u>
          <%= f.text_area :description, :size => "10x2" %>
          
          Jurisdiction
          <u><a href="#" rel="tooltip" data-placement="right" title="Select the jurisdiction where you want to use this document. If the document does not need to be jurisdiction-specific, select "Any"."><i class="icon-question-sign"></i></a></u>
          <div class = "jurisdropdown">
            <%= f.select :jurisdiction, options_for_select(us_states) %>
          </div>
            
            Keywords
            <u><a href="#" rel="tooltip" data-placement="right" title="List any helpful keywords (which can be words or phrases) that you would use in a search for the document you are requesting. Separate each word or phrase with a comma or semi-colon. The more thorough and specific your keywords are, the better."><i class="icon-question-sign"></i></a></u>
            <%= f.text_area :keywords, :size => "10x2" %>
            <%= f.file_field :form %>
        </div>
        <div class="actions">
          <div class="btn-group">
            <%= f.submit "Submit", :class => "btn btn-info", :style => "margin-right:5px;" %>
            <%= f.submit :cancel, :class => "btn", :'data-dismiss' => "modal" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<a class = "requestresponselink" style = "font-size: large; color: green;" data-toggle="modal" href="#myModalResponse<%=formrequest.id%>" >Add a Comment</a>
