<% provide(:title, 'Document Request') %>

<br/>
<h1>Document Request</h1>
<strong><p>Complete and submit this form to request a document.</p></strong>


<%= form_for @form_request do |fr| %>
	<%= fr.label :Name %>
	<%= fr.text_field :name, :placeholder => "Choose a name that will help other users recognize what you're looking for." %>
  	<%= fr.label :Description %>
  	<%= fr.text_area :description, :size => "10x10", :placeholder => "Describe the document you want, being as specific as possible." %>
  	<%= fr.label :Jurisdiction %>
  	<div class = "jurisdropdown">
  		<%= fr.select :jurisdiction, options_for_select(us_states) %>
  	</div>
  	<%= fr.label :Keywords %>
  	<%= fr.text_area :keywords, :size => "10x5", :placeholder => "List any helpful keywords associated with the document you're looking for seperate by a comma. E.g., contract, divorce, etc." %>
	<div style="display: inline;">
		<%= fr.check_box :anonymous, :style=>"display: inline;" %>
  		<%= fr.label :'Make Request Anonymously', :style=>"display: inline;" %>
  	</div>
  	<br/><br/>
    <%= fr.submit "Submit Request", :class => "btn btn-large btn-success"%>
<% end %>