<% provide(:title, 'Form Request Details')%>
<div class = "container-fluid">
	<%= render 'forms/search'%>
	<br/>
	<h2>Request Details</h2>
	<div class="row-fluid">
		<div class = "span8">

			<%= render 'form_requests/form_request_details' %>

			<% if @form_request.user.id == current_user.id %>
				<div class="row-fluid" style="margin-top: 20px;">
                    <%= render 'form_requests/edit_request_modal', :formrequest => @form_request %>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= render 'form_requests/delete_request_modal', :formrequest => @form_request %>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<% if @form_request.fufilled == false %>
						<%= link_to "Close Request", completerequestfrompage_path(@form_request.id), :class => "btn btn-success" %>
					<% end %>
				</div>
			<% end %>
			<br/>
			<%= render 'form_requests/inappropriate_request_modal', :requestid => @form_request.id %>
			<br/><br/>
			<h4>Responses (<%= @requestsubmissions.count %>)</h4>
			<hr/>
			<% if @form_request.fufilled == false %>
				<%= render 'form_requests/request_response_modal', :parent_id => nil, :button => true, :fr_id => @form_request.id, :formrequest => @form_request, :details_page => true %>
			<% else %>
				Request is closed.
			<% end %>
			<hr/>
			<% @requestsubmissions.each do |rs| %>
				<%= render 'form_requests/request_response_summary', :f => rs %>
				<hr/>
		<% end %>
		</div>
	</div>
</div>