<% provide(:title, 'Form Request Details')%>

<br/><br/>

<%= link_to "Back to Requested Documents", requestcenter_path %>
<br/><%= link_to "View Your Requests", :controller => "pages", :action => "requestcenter", :scope => "me" %>
<br/>
<br/>

<%= render 'form_requests/form_request_details' %>

<!-- if the request is mine, show options to edit, delete or mark fulfilled if there is a submission-->
<% if @form_request.fufilled == false %>
	<% if @form_request.user.id == current_user.id %>
		<br/><br/>
		<%= button_to "Edit Request", edit_form_request_path(@form_request.id), :class => "btn btn-info", :method => :get %>
		<% if @form_request.forms.count >0 %>
			<%= button_to "Complete Request", completerequest_path(@form_request.id), :class => "btn btn-success" %>
		<% else %>
			<%= button_to "Delete Request", form_request_path(@form_request.id), :method => :delete, :class => "btn btn-danger" %>
		<% end %>
	<% else %>
		<% if @inappropriate_request_report == nil %>
			<br/><br/>
			<%= render 'form_requests/inappropriate_request_modal', :requestid => @form_request.id %>
			<br/><br/>
		<% end %>

		<%= render 'form_requests/request_response_modal', :parent_id => nil, :button => true, :fr_id => @form_request.id %>
	<% end %>
<% else %>
	<h3>Request Completed!</h3>
<% end %>
<h3>Responses (<%= @requestsubmissions.count %>)</h3>
<% if @requestsubmissions.count >0 %>
	<ul class = "comments" >
		<%= nested_request_responses @requestsubmissions.arrange(:order => :created_at)  %>
	</ul>
<%end%>