<% provide(:title, 'Sign Up') %>

<h1>Join Vizibid today.</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user, :validate => true) do |f| %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label "State Licensed" %>
			<%= f.select :state_licensed, options_for_select(options_for_state_licensed) %>
	
			<%= f.label "Bar ID number" %>
			<%= f.text_field :bar_number %>
	
			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, "Repeat Password" %>
      		<%= f.password_field :password_confirmation %>
			
      		<%= text_field_tag :AccessCode, "", :placeholder => "Access Code" %>
			
			<%= f.label :"Who referred you?" %>
			<%= f.text_field :referrer %>

      		<%= f.submit "Create my account", class: "btn  btn-primary" %>

		<% end %>
	</div>
</div>
<br/><br/>