<% provide(:title, @user.name) %>
<div class = "row">
	<div class = "span12">
	<br/>
		<% if @vizibid_account == true %>
			<div class = "span8">
				This is Vizibid's account used for sharing documents. If you would like to share a lot of documents, please contact us at <%= mail_to "info@vizibid.com" %>
			</div>
		<% else %>
		<% if @show_edit == true %>
			<%= link_to "Edit what appears on your profile", settings_path("profile") %>
			<br/><br/>
		<% end %> 
		<b><%= @user.name %></b>, Vizibid member since <%= @user.created_at.strftime("%B %d, %Y") %>
		<br/>
		Licensed in <%= @user.state_licensed %>
		<br/>
		<% if @user.user_detail.show_email == true %>
			Email: <%= mail_to @user.email%>
			<br/>
		<% end %>
		<% if !@user.user_detail.website.nil? && @user.user_detail.show_website == true %>
			Website: <%= link_to @user.user_detail.website, url_with_protocol(@user.user_detail.website), :target => "_blank" %><br/>
		<% end %>
		<% if !@user.user_detail.location.nil? && @user.user_detail.show_location == true  %>
			Location: <%= @user.user_detail.location %><br/>
		<% end %>

		<% if !@user.user_detail.practice_area.nil?&& @user.user_detail.show_practice_area == true  %>
			Practice Area: <%= @user.user_detail.practice_area %><br/><br/>
		<% end %>

		<% if !@user.user_detail.bio.nil? && @user.user_detail.show_bio == true  %>
			Bio: <%= @user.user_detail.bio %><br/>
		<% end %>
		<br/>

		<% if @user.user_detail.show_comments %>
			<% if @commentcount > 0 %>
			Posted the following (<%= @commentcount %>) comments:
				<% showformname = true %>
			</ul>
			<ul class="unstyled">
			<% @comments.each do |formid, comments|%>
				<% comments.each do |comment| %>
					<% if showformname %>
						<%= link_to comment.form.description, form_path(formid) %>
						<% showformname = false %>		
					<% end %>
						<li><%= truncante_description(comment.content) %> on <%= time_ago_in_words(comment.created_at) %> ago </li>
				<% end %>
				<% showformname = true %>
			<% end %>
			</ul> 
		<% else %>
			0 comments<br/>
		<% end %> 
			<br/>
		<% end %>

		<% if @user.user_detail.show_uploaded %>
			<% if @formshared_count > 0 %>
				Shared the following (<%= @formshared_count %>) documents:
				<ul>
					<% i = @formshared_count-1 %>
					<% while i  >= 0 %>
						<li>
							<%= link_to @formshared[i].description, form_path(@formshared[i].id)%> on <%= time_ago_in_words(@formshared[i].created_at) %> ago</li>
						</li>
						<% i = i-1 %>
					<%end%>
				</ul>
			<% else %>
				0 documents shared<br/>
			<% end %>
			<br/>
		<% end %>

		<% if @user.user_detail.show_requests %>
			<% if @formrequests.count > 0 %>
			Made the following (<%= @formrequests.count %>) requests:
			<ul>
				<% i = @formrequests.count-1 %>
				<% while i  >= 0 %>
					<li>
						<%= link_to @formrequests[i].name,form_request_path(@formrequests[i].id)%> on <%= time_ago_in_words(@formrequests[i].created_at) %> ago</li>
					</li>
					<% i = i-1 %>
				<%end%>
			</ul>
		<% else %>
			0 requests
		<% end %>
			<br/>
		<% end %>
		<% end %>
	</div>
</div>