<%= form_tag requestcenter_path, :method => 'get' do %>
	<%= text_field_tag :search, params[:search], :placeholder => "Search Requests", :class => "searchbox"%>
	<%= submit_tag "Search", :class => "btn btn-info" %>
<% end %>
<%= link_to "View My Requests", :controller => "pages", :action => "requestcenter", :scope => "me" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to "Request a Document", new_form_request_path %>
<% @i = 1 %>
<br/><br/>
<% if @search != nil %>
	<h3><%= pluralize(@form_requests.count, 'result') %>:</h3><br/>
<% else %>
	<h3><%= @form_requests.count %> open requests:</h3><br/>
<% end %>
<% @form_requests.each do |f| %>
  <% if f.fufilled != true %>
	  <tr>
	    <td><%= render 'form_requests/form_request_summary', :f => f, :i => @i, :showstatus => 'false' %></td>
	  </tr>
	  <% @i += 1 %>
	  <% if @i < @form_requests.count+1 %>
	  	  <hr/>
	  <% end %>
  <% end %>
<% end %>