<%= form_tag requestcenter_path, :method => 'get' do %>
	<%= text_field_tag :search, params[:search], :placeholder => "Search Requests", :class => "searchbox"%>
	<%= submit_tag "Search", :class => "btn btn-info" %>
<% end %>

<% if @permitted_user %>
	<%= link_to "View My Requests", :controller => "pages", :action => "requestcenter", :scope => "me" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<% else %>
	<%= render 'layouts/noaccess_modal', :type =>"myreqs" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<% end %>

<% if @permitted_user %>
	<%= link_to "Request a Document", new_form_request_path %>
<% else %>
	<%= render 'layouts/noaccess_modal', :type =>"request" %>
<% end %>

<% @i = 1 %>
<br/><br/>
<% if @search != nil %>
	<h3><%= pluralize(@total_requests, 'result') %>:</h3><br/>
<% else %>
	<h3><%= pluralize(@total_requests, 'open request')%></h3><br/>
<% end %>

<% @form_requests.each do |f| %>
  <% if f.fufilled != true %>
	  <tr>
	    <td><%= render 'form_requests/form_request_summary', :f => f, :showstatus => 'false' %></td>
	  </tr>
	  <% @i += 1 %>
	  <% if @i < @form_requests.count+1 %>
	  	  <hr/>
	  <% end %>
  <% end %>
<% end %>

<%= will_paginate(@form_requests) %>