<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <%= form_for(@forumpost) do |f| %>
        <%= f.label :Title %>
        <%= f.text_field :title %>
        <%= f.label :Text %>
        <%= f.text_area :message, :size => "10x5" %>
      <br/>
      <div class="btn-group">
        <%= f.submit "Submit", :class => "btn btn-success", :style => "margin-right:5px;"%>
        <%= button_to "Cancel", "", :class => "btn", :'data-dismiss' => "modal" %>
      </div>
    <% end %>

  </div>

</div>

<a style = "color: green;" data-toggle="modal" href="#myModal" >New Post</a>