<div style="padding-left: 10px; padding-right: 10px;">
You have shared <%= pluralize(current_user.forms.count, "document") %>.
</div>
<div style="padding-left: 10px;  padding-right: 10px; margin-top: 10px;">
You have written <%= pluralize(current_user.comments.count, "comment") %>.
</div>
<div style="padding-left: 10px;  padding-right: 10px; margin-top: 10px;">
Your documents have been downloaded <%= pluralize(current_user.num_form_downloads, "time") %>.
</div>
<div style="padding-left: 10px;  padding-right: 10px; margin-top: 10px;">
<% days = current_user.num_days_since_upload %>
<% if days != 0 %>
	You last shared a document <%= time_ago_in_words(days) %> ago.
<% else %>
	You have not shared any documents.
<% end %>
</div>
<div style="padding-left: 10px;  padding-right: 10px; margin-top: 10px;">
<% days = current_user.num_days_since_comment %>
<% if days != 0 %>
	You last wrote a comment <%= time_ago_in_words(days) %> ago.
<% else %>
	You have not written any comments.
<% end %>
</div>