<div class="well">
	<div style="padding-left: 10px; padding-right: 10px;">
		<strong><%= current_user.name %></strong>
	</div>
	<div style="padding-left: 10px; padding-right: 8px; font-size: 12px; margin-top: 8px;">
		UPLOADED DOCUMENTS
	</div>

	<div style="padding-left: 10px;  padding-right: 10px; margin-top: 10px;">
		<% days = current_user.num_days_since_upload %>
		<span style = "font-size: 20px;"><%=current_user.forms.count %></span> documents
	</div>

	<div style="padding-left: 10px;  padding-right: 10px; margin-top: 14px;">
		<span style = "font-size: 20px;"><%= current_user.num_form_downloads %></span> downloaded by others
	</div>

	<div style="padding-left: 10px;  padding-right: 10px; margin-top: 14px;">
		<span style = "font-size: 20px;"><%= current_user.average_form_rating %></span> average rating
	</div>


	<div style="padding-left: 10px; padding-right: 8px; font-size: 12px; margin-top: 16px;">
		COMMENTS
	</div>

	<div style="padding-left: 10px;  padding-right: 10px; margin-top: 14px;">
		<span style = "font-size: 20px;"><%=current_user.comments.count%></span> comments
	</div>

	<% numupvotes = 0 %>
	<% numdownvotes = 0 %>
	<% current_user.num_comment_votes(numupvotes, numdownvotes) %>
	<div style="padding-left: 10px;  padding-right: 10px; margin-top: 14px;">
		<span style = "font-size: 20px;"><%= numupvotes %></span> up votes
	</div>

	<div style="padding-left: 10px;  padding-right: 10px; margin-top: 14px;">
		<span style = "font-size: 20px;"><%= numdownvotes %></span> down votes
	</div>
</div>