<div class="tab-content-root">
	<div>
		<%= render 'forms/form_upload_modal' %>
		<%= render 'pages/home_partials/manage_feed_modal' %>

		<div class = "pull-right">
			<ul class="nav nav-pills" style = "display: inline-block;">
		  	  <li class="newest-items active"><%= link_to :"Newest", forms_path(:sort => "newest"), :remote => true %></li>
		  	  <li class="activity-items"><%= link_to :"Active", forms_path(:sort => "activity"), :remote => true %></li>
		  	</ul>
		</div>
	</div>
	<%= render 'pages/home_partials/community_table' %>
</div>