<div class = "community-content">

	<% if @items.count == 0 %>
		<div class= "span8">
			You are not subscribed to any practice areas. Click the 'Manage' button to set your practice areas.
		</div>
	<% else %>
		<table class="table">
			<% @items.each do |i| %>
				<% if i.class.name == "Form" %>
					<tr style="background-color:#F7F7F7;">	
						<td class="span2">Document:</td>
						<td>
							<img src="assets/doc-15x15.png"/>
							<% name = i.user.name.gsub(' ', '_') %>
							<%= link_to i.description, form_path(i) %><br/>
							<div style="font-size: 12px;">
								<% if params[:sort] == "activity" %>
									Updated <%= time_ago_in_words(i.updated_at) %> 
								<% else %>
									Uploaded <%= time_ago_in_words(i.created_at) %> 
								<% end %>
								ago by <%= link_to i.user.name, usershow_path(name) %> for
									<% if i.jurisdiction == "Any" %>
										any jurisdiction
									<% else %>
										<%= i.jurisdiction %>
									<% end %>
							</div>
						</td>
					<% else %>
						<tr>
							<td class="span2">Request:</td>
							<td>
								<img src="assets/req-15x15.png"/>
								<% name = i.user.name.gsub(' ', '_') %>
								<%= link_to i.name, form_request_path(i) %><br/>
								<div style="font-size: 12px;">
									<% if params[:sort] == "activity" %>
										Updated <%= time_ago_in_words(i.updated_at) %> 
									<% else %>
										Requested <%= time_ago_in_words(i.created_at) %> 
									<% end %> ago by 
									<% if i.anonymous == false %>
										<%= link_to i.user.name, usershow_path(name) %>
									<% else %>
										anonymous
									<% end %>
								</div>
							</td>
					<% end %>
				</tr>
			<% end %>
		</table>
	<% end %>
</div>