<div class = "row teaser" style="width: 1000px; height: 522px; margin-left: 0px; background-color: white; border: none;">
	<div class = "CarouselBox" style="width: 940px; height: 462px; margin: 30px;">
		<div id="myCarousel" class="carousel slide" data-interval="12000">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item" style = "width: 940px; height: 462px;">
				<div style="font-family: bariol; font-size: 64px; line-height: 64px; color: #0095B3; text-align: center; padding-top: 120px;">
					Welcome to Vizibid.
				</div>
				<div style="font-family: bariol; font-size: 34px; line-height: 40px; padding-left: 170px; padding-right: 170px; text-align: center; margin-top: 30px; color: #333333;">
					Together, lawyers like you are shaping the future of model legal documents.<br /><br />
					<a data-toggle="modal" href="#signupModal" style="color: #515151">Sign Up Now ></a>
				</div>
		    </div>
		    <div class="item teaser2">
    			<div style="font-family: bariol; font-size: 36px; line-height: 40px; margin-left: 79px; width: 387px; padding-top: 60px;">
    				Vizibid is an online library of model legal documents, collaboratively built by lawyers like you.
    			</div>
    			<div style="font-family: bariol; font-size: 18px; line-height: 24px; margin-left: 79px; margin-top: 44px; width: 387px; color: #0095B3;">
    				Find example pleadings, deeds, motions, contracts, letters, orders, notices, checklists, trust agreements, titles, writs, bylaws, briefs, bonds, leases, and more ...
    			</div>
    			<div style="font-family: bariol; font-size: 18px; line-height: 24px; margin-left: 79px; margin-top: 24px; width: 387px;">
    				<a href="<%=learn_more_base_path%>" style="color: #515151">Learn More ></a>
    			</div>
		    </div>
		    <div class="item teaser3">
		    	<div style="font-family: bariol; font-size: 36px; line-height: 40px; margin-left: 79px; width: 487px; padding-top: 80px;">
	    			Save time. Save money. Save face.
	    		</div>
	    		<div style="font-family: bariol; font-size: 18px; line-height: 24px; margin-left: 79px; margin-top: 44px; width: 387px; color: #0095B3;">
	    			Quickly find the documents you need in Vizibid's library or request them from other lawyers in the Vizibid community.<br /><br />Share your model documents with other lawyers, and help build the community library.
	    		</div>
	    		<div style="font-family: bariol; font-size: 18px; line-height: 24px; margin-left: 79px; margin-top: 24px; width: 387px;">
    				<a href="<%=learn_more_base_path%>" style="color: #515151">Learn More ></a>
    			</div>
		    </div>
		    <div class="item teaser4">
				<div style="font-family: bariol; font-size: 36px; line-height: 40px; margin-left: 79px; width: 400px; padding-top: 80px;">
	    			Vizibid is the future of model legal documents.
		    	</div>
		    	<div style="font-family: bariol; font-size: 18px; line-height: 24px; margin-left: 79px; margin-top: 44px; width: 387px; color: #0095B3;">
	    			<ul>
	    				<li>Together, you and lawyers like you get to build the document library you want.</li>
	    				<li>The collection of available documents grows and improves as more and more lawyers join the community.</li>
	    				<li>Evaluate documents at a glance with ratings, comments, and reviews written by your colleagues.</li>
	    				<li>Impress your colleagues and build your reputation through your contributions.</li>
	    			</ul>
	    		</div>
	    		<div style="font-family: bariol; font-size: 18px; line-height: 24px; margin-left: 79px; margin-top: 24px; width: 387px;">
	    			<a href="<%=learn_more_base_path%>" style="color: #515151">Learn More ></a>
	    		</div>
		  </div>
		</div>
		  <!-- Carousel nav -->
		  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>
</div>

<div style="margin-left: 0px; height: 180px; width: 1000px; background-color: white; padding-top: 30px;">
	<div style="margin-left: 30px; display: inline-block; width: 229px; height: 124px">
		<img src="/assets/owl-box.png" style="vertical-align: baseline;"/>
	</div>
	<div style="margin-left: 8px; display: inline-block; width: 229px; height: 124px">
		<img src="/assets/clock-box.png" style="vertical-align: baseline;"/>
	</div>
	<div style="margin-left: 8px; display: inline-block; width: 229px; height: 124px">
		<img src="/assets/chart-box.png" style="vertical-align: baseline;"/>
	</div>
	<div style="margin-left: 8px; display: inline-block; width: 229px; height: 124px">
		<a data-toggle="modal" href="#signupModal"><img src="/assets/trial.png" style="vertical-align: baseline;"/></a>
		<a href="<%=learn_more_base_path%>">
			<img src="/assets/learn.png" style="vertical-align: baseline;"/></a>
		</a>
	</div>
</div>

<%= render 'pages/home_partials/sign_up_form_modal' %>
<%= render 'password_resets/reset_pw_modal' %>