<div class = "row teaser" style="width: 1000px; height: 512px; margin-left: 0px; background-color: white; border: none;">
	<div class = "CarouselBox" style="width: 940px; height: 462px; margin: 30px;">
		<div id="myCarousel" class="carousel slide" data-interval="12000">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item" style = "width: 940px; height: 462px;">
				<div style="font-family: bariol; font-size: 64px; line-height: 64px; color: #0095B3; text-align: center; padding-top: 120px;">
					Welcome, friend.
				</div>
				<div style="font-family: bariol; font-size: 36px; line-height: 40px; padding-left: 200px; padding-right: 200px; text-align: center; margin-top: 30px; color: #333333;">
					Together, we're going to revolutionize the way lawyers obtain documents
				</div>
		    </div>
		    <div class="item teaser2">
    			<div style="font-family: bariol; font-size: 36px; line-height: 40px; margin-left: 79px; width: 387px; padding-top: 60px;">
    				Vizibid is an online community for lawyers to share and expand a model document library.
    			</div>
    			<div style="font-family: bariol; font-size: 18px; line-height: 24px; margin-left: 79px; margin-top: 44px; width: 387px; color: #0095B3;">
    				Whenever you need to draft a new document, Vizibid can help you quickly find and download reliable examples from other lawyers.
    			</div>
    			<div style="font-family: bariol; font-size: 18px; line-height: 24px; margin-left: 79px; margin-top: 24px; width: 387px;">
    				<a href="<%=learn_more_base_path%>" style="color: #515151">Learn More ></a>
    			</div>
		    </div>
		    <div class="item teaser3">
		    	<div style="font-family: bariol; font-size: 36px; line-height: 40px; margin-left: 79px; width: 487px; padding-top: 80px;">
	    			Lawyers draft a lot of documents and high-quality model documents can be expensive and hard to find.
	    		</div>
	    		<div style="font-family: bariol; font-size: 18px; line-height: 24px; margin-left: 79px; margin-top: 44px; width: 387px; color: #0095B3;">
	    			Vizibid enables you to search for any document you want and download as many documents as you need. If a document is not yet part of our library, you can request it from the Vizibid community.
	    		</div>
	    		<div style="font-family: bariol; font-size: 18px; line-height: 24px; margin-left: 79px; margin-top: 24px; width: 387px;">
    				<a href="<%=learn_more_base_path%>" style="color: #515151">Learn More ></a>
    			</div>
		    </div>
		    <div class="item teaser4">
				<div style="font-family: bariol; font-size: 36px; line-height: 40px; margin-left: 79px; width: 400px; padding-top: 80px;">
	    			Vizibid is the right solution for a lot of reasons.
		    	</div>
		    	<div style="font-family: bariol; font-size: 18px; line-height: 24px; margin-left: 79px; margin-top: 44px; width: 387px; color: #0095B3;">
	    			<ul>
	    				<li>Low price</li>
	    				<li>High quality and high quantity</li>
	    				<li>Confidence</li>
	    				<li>Opportunities</li>
	    			</ul>
	    		</div>
	    		<div style="font-family: bariol; font-size: 18px; line-height: 24px; margin-left: 79px; margin-top: 24px; width: 387px;">
	    			<a href="<%=learn_more_base_path%>" style="color: #515151">Learn More ></a>
	    		</div>
		  </div>
		</div>
		  <!-- Carousel nav -->
		  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>
</div>

<div style="margin-left: 0px; height: 180px; padding-bottom: 10px; width: 1000px; background-color: white; padding-top: 30px;">
	<div style="margin-left: 30px; display: inline-block; width: 229px; height: 124px">
		<img src="/assets/owl-box.png" style="vertical-align: baseline;"/>
	</div>
	<div style="margin-left: 8px; display: inline-block; width: 229px; height: 124px">
		<img src="/assets/clock-box.png" style="vertical-align: baseline;"/>
	</div>
	<div style="margin-left: 8px; display: inline-block; width: 229px; height: 124px">
		<img src="/assets/chart-box.png" style="vertical-align: baseline;"/>
	</div>
	<div style="margin-left: 8px; display: inline-block; width: 229px; height: 124px">
		<a data-toggle="modal" href="#signupModal"><img src="/assets/trial.png" style="vertical-align: baseline;"/></a>
		<a href="<%=learn_more_base_path%>">
			<img src="/assets/learn.png" style="vertical-align: baseline;"/></a>
		</a>
	</div>
</div>

<%= render 'pages/home_partials/sign_up_form_modal' %>
<%= render 'password_resets/reset_pw_modal' %>