<div class = "row teaser" style="width: 940px; height: 462px; margin-left: 0px; background-color: white;">
	<div>
		<div id="myCarousel" class="carousel slide">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item" style = "width: 940px; height: 462px;">
				<div style="font-family: bariol-light; font-size: 64px; line-height: 64px; color: #0095B3; text-align: center; padding-top: 120px;">
					Welcome, friend.
				</div>
				<div style="font-family: bariol-light; font-size: 36px; line-height: 40px; padding-left: 80px; padding-right: 80px; text-align: center; margin-top: 30px; color: #333333;">
					Together, we're going to revolutionize the way lawyers obtain documents
				</div>
		    </div>
		    <div class="item teaser2">
    			<div style="font-family: bariol-light; font-size: 36px; line-height: 40px; margin-left: 79px; width: 387px; padding-top: 60px;">
    				Vizibid is an online community for lawyers to share and expand a model document library.
    			</div>
    			<div style="font-family: bariol-light; font-size: 18px; line-height: 24px; margin-left: 79px; margin-top: 44px; width: 387px; color: #0095B3;">
    				Whenever you need to draft a new document, Vizibid can help you quickly find and download reliable examples from other lawyers.
    			</div>
    			<div style="font-family: bariol-light; font-size: 18px; line-height: 24px; margin-left: 79px; margin-top: 24px; width: 387px;">
    				<a href="<%=learn_more_base_path%>" style="color: #515151">Learn More ></a>
    			</div>
		    </div>
		    <div class="item teaser3">
		    	<div style="font-family: bariol-light; font-size: 36px; line-height: 40px; margin-left: 79px; width: 487px; padding-top: 80px;">
	    			Lawyers draft a lot of documents and high-quality model documents can be expensive and hard to find.
	    		</div>
	    		<div style="font-family: bariol-light; font-size: 18px; line-height: 24px; margin-left: 79px; margin-top: 44px; width: 387px; color: #0095B3;">
	    			Vizibid enables you to search for any document you want and download as many documents as you need. If a document is not yet part of our library, you can request it from the Vizibid community.
	    		</div>
	    		<div style="font-family: bariol-light; font-size: 18px; line-height: 24px; margin-left: 79px; margin-top: 24px; width: 387px;">
    				<a href="<%=learn_more_base_path%>" style="color: #515151">Learn More ></a>
    			</div>
		    </div>
		    <div class="item teaser4">
				<div style="font-family: bariol-light; font-size: 36px; line-height: 40px; margin-left: 79px; width: 400px; padding-top: 80px;">
	    			Vizibid is the right solution for a lot of reasons.
		    	</div>
		    	<div style="font-family: bariol-light; font-size: 18px; line-height: 24px; margin-left: 79px; margin-top: 44px; width: 387px; color: #0095B3;">
	    			<ul>
	    				<li>Low price</li>
	    				<li>High quality and high quantity</li>
	    				<li>Confidence</li>
	    				<li>Opportunities</li>
	    			</ul>
	    		</div>
	    		<div style="font-family: bariol-light; font-size: 18px; line-height: 24px; margin-left: 79px; margin-top: 24px; width: 387px;">
	    			<a href="<%=learn_more_base_path%>" style="color: #515151">Learn More ></a>
	    		</div>
		  </div>
		</div>
		  <!-- Carousel nav -->
		  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>
</div>

<div style="padding-top: 30px; margin-left: 0px; height: 180px; padding-bottom: 10px; width: 1000px; background-color: white">
	<div class="well" style="margin-left: 30px; display: inline-block; width: 189px; height: 84px">
		<div style="padding-left: 48px; font-family: bariol-bold; font-size: 20px; line-height: 24px">
			Vizibid is smart and collaborative.
		</div>
		<div style="font-family: bariol; font-size: 16px; line-height: 20px; padding-top: 5px;">
			Collaborate with other lawyers to share documents.
		</div>
	</div>
	<div class="well" style="margin-left: 8px; display: inline-block; width: 189px; height: 84px">
		<div style="padding-left: 48px; font-family: bariol-bold; font-size: 20px; line-height: 24px">
			Vizibid saves time and money.
		</div>
		<div style="font-family: bariol; font-size: 16px; line-height: 20px; padding-top: 5px;">
			Reduce the amount of time spent drafting documents.
		</div>
	</div>
	<div class="well" style="margin-left: 8px; display: inline-block; width: 189px; height: 84px">
		<div style="padding-left: 46px; font-family: bariol-bold; font-size: 20px; line-height: 24px">
			Vizibid is growing.<br/>
			Grow with us.
		</div>
		<div style="font-family: bariol; font-size: 16px; line-height: 20px; padding-top: 5px;">
			As our community grows, our services grow.
		</div>
	</div>
	<div class="" style="margin-left: 8px; display: inline-block; width: 229px; height: 124px">
		<div>
			<a data-toggle="modal" href="#signupModal" class="btn btn-info"  style="width: 203px;">TRY IT FREE</a>
		</div>
		<div>
			<a class="btn btn-info"  style="width: 203px; margin-top:10px" href="<%=learn_more_base_path%>">LEARN MORE</a>
		</div>
	</div>
</div>

<%= render 'pages/home_partials/sign_up_form_modal' %>