<div class="tab-content-root">
  <% if @followedforms.count > 0 %>
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs span4">
        <% i = 0 %>
        <% @followedforms.each do |ff| %>
          <li class="<% if i == 0 %> active <% end %>">
            <a href="#r<%= i %>" data-toggle="tab"><%= ff.form.description %></a>
          </li>
          <% i = i + 1 %>
        <% end %>
      </ul>
      <div class="tab-content span7">
        <% i = 0 %>
        <% @followedforms.each do |ff| %>
            <div class="tab-pane <% if i == 0 %> active <% end %>" id="r<%= i %>">
            <div>
              <%= link_to :"Open Document", form_path(ff.form.id), :class => "btn btn-success" %>
                <%= link_to :"Unfollow", unfollowform_path(ff.form.id), :remote => true, :class => "btn btn-info" %>
            </div>
            <div style = "margin-top: 10px;">
              <% comments = ff.form.comments.order(:updated_at).reverse.first(5) %>
              <% if comments.count > 0 %>
                <div style= "margin-bottom: 7px;"><b>Activity:</b></div>
              <% else %>
                  This document has no comments or iterations associated with it yet.
              <% end %>
              <% comments.each do |c| %>
                  <% if c.content != "[Deleted]" %>
                    <% name = c.user.name.gsub(' ', '_') %>

                    <% if Form.find(:all, :conditions => ["sourcecomment_id = '#{c.id}'"]).count > 0 %>
                      Comment with new document from <%= link_to c.user.name, usershow_path(name.downcase)%><br/>submitted <%= time_ago_in_words(c.created_at) %> ago
                    <% else %>
                      Comment from <%= link_to c.user.name, usershow_path(name.downcase)%><br/>submitted <%= time_ago_in_words(c.created_at) %> ago
                    <% end %>
                  <% end %>
                <hr style="margin-top: 7px; margin-bottom: 7px"/>
              <% end %>
            </div>
           </div>
           <% i = i + 1 %>
        <% end %>
      </div>
    </div>
  <% else %>
    You are not following any documents. Click the 'follow' button on a document page to start following.
  <% end %>
</div>