<div class="tab-content-root">
  <% if @followedforms.count > 0 %>
    <table class="table table-striped">
      <% @followedforms.each do |f| %>
        <tr>
          <td class="span9">
            <%= link_to f.form.description, form_path(f.form) %>
            <div style="font-size: 12px;">
              Requested <%= time_ago_in_words(f.form.created_at) %> 
              for
              <% if f.form.jurisdiction == "Any" %>
                any jurisdiction
              <% else %>
                <%= f.form.jurisdiction %>
              <% end %>
             </div>
             <div style="font-size: 12px;">
                <%= pluralize(f.form.comments.count, 'comments') %> 
             </div>
          </td>
          <td class="span3">
            <%= link_to :"Unfollow", unfollowform_path(f.form.id), :remote => true, :class => "btn" %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class= "span8">
      You are not following any documents. Click the 'follow' button on a document page to start following.
    </div>
  <% end %>
</div>