<div id="manageFeedModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class = "well">
		Select the practice areas that you would like to subscribe to.<br/>
		<%= form_tag practicearea_path do %>
			<% PracticeArea.all.each_with_index do |pa,i| %>
				<% if UserPracticeArea.find(:all, :conditions => ["user_id = '#{current_user.id}' and practice_area_id = '#{pa.id}'"]).count == 1 %>
					<%= check_box_tag(practice_areas[i][0], 'selected', true, :style => "margin-bottom: 8px;") %>
				<% else %>
					<%= check_box_tag(practice_areas[i][0], 'selected', false, :style => "margin-bottom: 8px;") %>
				<% end %>
				<%= label_tag(practice_areas[i][0], practice_areas[i][0], :style => "display: inline-block;") %>
				<br/>
			<% end %>
			<%= submit_tag(:Save, :class => "btn btn-info") %>
		<% end %>
	</div>
</div>


<a class = "btn btn-info" style="margin-left: 5px;" data-toggle="modal" href="#manageFeedModal" >Manage</a>