<div class = "request-content">
  <br/>
  <% if form_requests.count > 0 %>
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs span4">
        <% i = 0 %>
        <% form_requests.each do |f| %>
          <li class="<% if i == 0 %> active <% end %>">
            <a href="#r<%= i %>" data-toggle="tab"><%= f.name %></a>
          </li>
          <% i = i + 1 %>
        <%end%>
      </ul>
      <div class="tab-content span7">
        <% i = 0 %>
        <% form_requests.each do |f| %>
          <div class="tab-pane <% if i == 0 %> active <% end %>" id="r<%= i %>">
            <p>
              On <%= f.created_at.to_datetime.strftime("%B %d, %Y") %> you requested:
                <div style="border: solid #ccc 1px; padding: 5px 5px 5px 5px;">
                  <%= f.description %>
                </div>
                <div style="margin-top: 10px;">
                  Jurisdiction: <%= f.jurisdiction %>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  Practice Area: [TODO]
                </div>
                <% if f.fufilled == false %>
                  <div style="margin-top: 10px;">
                    <%= render 'form_requests/edit_request_modal', :formrequest => f %>
                    <%= render 'form_requests/delete_request_modal', :formrequest => f %>
                  </div>
                <% end %>
            </p>
            <% if f.RequestSubmissions.count > 0 && f.fufilled == false %>
              <p style="margin-top: 30px; border-bottom: 1px solid black;">
                  Responses (<%= f.RequestSubmissions.count %>)
                  <% f.RequestSubmissions.each do |rs| %>
                    <div style="margin-top: 5px;" class = "rs-<%=f.RequestSubmissions.id%>"> 
                      <%= link_to rs.comment, form_path(rs.form) %>
                      <div class = "pull-right"> 
                        <button class= "btn btn-success btn-mini">Accept</button>
                        <%= link_to :Reject, deleteresponse_path(:id => f.RequestSubmissions.id), :remote => true, :class=> "btn btn-danger btn-mini", :style=>"margin-right: 5px;", :method => :delete %>
                      </div>
                    </div>
                  <% end %>
              </p>
            <% elsif f.RequestSubmissions.count == 0 && f.fufilled == false  %>
              There are no responses to your request at this time.
            <% end %>
          </div>
          <% i = i + 1 %>
        <% end %>
      </div>
    </div>
    <% else %>
      <% if @open_req == true %>
        You have no open requests.
      <% else %>
        You have no fulfilled requests.
      <% end %>
    <% end %>
</div>