<div class = "request-content">
    <% if form_requests.count > 0 %>
      <table class="table table-striped">
        <% form_requests.each do |f| %>
          <tr>
            <td class="span9">
              <img src="assets/req-15x15.png"/>
              <%= link_to f.name, form_request_path(f) %>
              <div style="font-size: 12px;">
                Requested <%= time_ago_in_words(f.created_at) %> 
                for
                <% if f.jurisdiction == "Any" %>
                  any jurisdiction
                <% else %>
                  <%= f.jurisdiction %>
                <% end %>
               </div>
               <div style="font-size: 12px;">
                  <%= pluralize(f.forms.count, 'responses') %> 
               </div>
            </td>
            <td class="span3">
              <% if f.fufilled == false %>
                <%= link_to :"Close Request", completerequest_path(:id => f.id), :remote => true, :class => "btn" %>           
                <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class= "span8">
        <% if params[:scope] == "open" || params[:scope].nil?%>
          You do not have any open requests. Click the 'request' button to request a document.
        <% else %>
          You do not have any fulfilled requests.
        <% end %>
      </div>
    <% end %>
</div>