<div class = "request-content">
  <table class="table table-striped">
    <% if form_requests.count > 0 %>

        <% form_requests.each do |f| %>
          <tr>
            <td class="span9">
              <%= link_to f.name, form_request_path(f) %>
              <div style="font-size: 12px;">
                Requested <%= time_ago_in_words(f.created_at) %> 
                for
                <% if f.jurisdiction == "Any" %>
                  any jurisdiction
                <% else %>
                  <%= f.jurisdiction %>
                <% end %>
               </div>
               <div style="font-size: 12px;">
                  <%= pluralize(f.forms.count, 'responses') %> 
               </div>
            </td>
            <td class="span3">
              <% if f.fufilled == false %>
                <%= link_to :"Close Request", completerequest_path(:id => f.id), :remote => true, :class => "btn" %>                  
                  </div>
                <% end %>
            </td>
          </tr>
        <% end %>

    <% end %>
  </table>
</div>