<!-- Search Box -->
<div class="row">
	<div class = "span12">
		<%= render 'forms/search' %>
	</div>
</div>
<div class="row">
	<!-- tabbable window panes -->
	<div class= "span8">
		<!-- Search Results -->
		<% if @forms != nil %>
			<% if @total_forms > 0 %>
				<p style="text-decoration: underline;"><%= pluralize(@total_forms, 'result') %>:</p>
				<% @i = 1 %>
				<% @forms.each do |f| %>
					<tr>
				      <td><%= render 'forms/form_summary', :f => f %></td>
				 	</tr>
					<% @i += 1 %>
						<% if @i < @forms.count+1 %>
						<hr class="search-seperator"/>
					<% end %>
				<% end %>
				<%= will_paginate(@forms) %>
			<% else %>
				No documents were found. 
				<a data-toggle="modal" style="display: inline; text-decoration: underline;" href="#modalFormRequest">Request the document.</a>
			<% end %>
		<% else %>
			<div class="tabbable"> 
			  <ul class="nav nav-tabs">
			    <li class="community active"><%= link_to :"COMMUNITY NEWS", root_path(:tab => "community"), :remote => true%></li>
			    <li class="requests"><%= link_to :"MY REQUESTS", root_path(:tab => "requests"), :remote => true%></li>
			    <li class="followed"><%= link_to :"TRACKING", root_path(:tab => "followed"), :remote => true%></li>
			    <!--li class=""><%#= link_to :"MY COLLEAGUES", "#" %></li-->
			  </ul>
			  <div class="tab-content-root">
			      <%= render 'pages/home_partials/community_tab_pane' %>
			  </div>
			</div>
		<% end %>
	</div>
	<!-- dashboard -->
	<% if @forms == nil %>
		<%= render 'shared/dashboard' %>
	<% end %>
</div>