<!-- Search Box -->
<%= render 'forms/search' %>
<div class="row-fluid">
	<!-- tabbable window panes -->
	<div class= "span8">
		<!-- Search Results -->
		<% if @forms != nil %>
			<h3><%= pluralize(@total_forms, 'result') %>:</h3><br/>
				<% @i = 1 %>
				<% @forms.each do |f| %>
				<tr>
			      <td><%= render 'forms/form_summary', :f => f %></td>
			 	</tr>
				<% @i += 1 %>
					<% if @i < @forms.count+1 %>
					<hr/>
				<% end %>
			<% end %>
			<%= will_paginate(@forms) %>
		<% else %>
			<div class="tabbable"> 
			  <ul class="nav nav-tabs">
			    <li class="active"><a href="#tab1" data-toggle="tab">Contribute</a></li>
			    <li><a href="#tab2" data-toggle="tab">Your Requests</a></li>
			    <li><a href="#tab3" data-toggle="tab">Followed Documents</a></li>
			    <li><a href="#tab4" data-toggle="tab">Subscriptions</a></li>
			  </ul>
			  <div class="tab-content">
			    <div class="tab-pane active" id="tab1">
			      <%= render 'pages/home_partials/contribute_tab_pane' %>
			    </div>
			    <div class="tab-pane" id="tab2">
			      <%= render 'pages/home_partials/your_requests_tab_pane' %>
			    </div>
			    <div class="tab-pane" id="tab3">
			      <%= render 'pages/home_partials/followed_documents_tab_pane' %>
			    </div>
			    <div class="tab-pane" id="tab4">
			      <p>Subscriptions.</p>
			    </div>
			  </div>
			</div>
		<% end %>
	</div>
	<div class="span4" style="border: 1px solid #ddd;">
		<h4 style="padding-left: 10px;">Your Dashboard</h4>
		<p>
			<ol>
				<li>num docs uploaded</li>
				<li>num comments</li>
				<li>doc updates</li>
				<li>comment upvotes</li>
			</ol>
		</p>
		<p class="center">
			<em>[Your Contribution Stats]</em>
		</p>
	</div>
</div>