<!-- Search Box -->
<%= render 'forms/search' %>
<div class="row-fluid">
	<!-- tabbable window panes -->
	<div class= "span8">
		<!-- Search Results -->
		<% if @forms != nil %>
			<p style="text-decoration: underline;"><%= pluralize(@total_forms, 'result') %>:<p>
				<% @i = 1 %>
				<% @forms.each do |f| %>
				<tr>
			      <td><%= render 'forms/form_summary', :f => f %></td>
			 	</tr>
				<% @i += 1 %>
					<% if @i < @forms.count+1 %>
					<hr class="search-seperator"/>
				<% end %>
			<% end %>
			<%= will_paginate(@forms) %>
		<% else %>
			<div class="tabbable"> 
			  <ul class="nav nav-tabs">
			    <li class="community active"><%= link_to :Community, root_path(:tab => "community"), :remote => true%></li>
			    <li class="requests"><%= link_to :"Your Requests", root_path(:tab => "requests"), :remote => true%></li>
			    <li class="followed"><%= link_to :"Followed Documents", root_path(:tab => "followed"), :remote => true%></li>
			  </ul>
			  <div class="tab-content-root">
			      <%= render 'pages/home_partials/community_tab_pane' %>
			  </div>
			</div>
		<% end %>
	</div>
	<%= render 'shared/dashboard' %>
</div>