<div id="signupModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class = "well">
	    <div class = "row">
	      	<div class="span6">
				<strong class = "pull-left">Sign up for Vizibid.</strong> <br/><br/>
				<%= form_for(@user, :validate => true) do |f| %>

					<%= f.text_field :name, :placeholder => "Full name" %>
					<%= f.text_field :email, :placeholder => "Email" %>
					<%= f.label "State where you are licensed:", :class => "pull-left" %>
					<%= f.select :state_licensed, options_for_select(options_for_state_licensed) %>
					<%= f.text_field :bar_number, :placeholder => "Your state bar ID number" %>
					<%= f.password_field :password, :placeholder => "Choose a password of at least 6 characters, including at least 1 number." %>
			  		<%= f.password_field :password_confirmation, :placeholder => "Re-enter your password." %>
			  		<%= text_field_tag :AccessCode, "", :placeholder => "Access Code" %>
			  		<%= f.text_field :referrer, :placeholder => "Who referred you to Vizibid? (optional)" %>
			  		<%= check_box_tag :TOS, "accepted", false, :style => "margin-bottom: 6px;" %>&nbsp;&nbsp;I accept the <%= link_to "Terms of Use.", terms_of_use_path %>
			  		<br/>
			  		<%= f.submit "Sign up for Vizibid", class: "btn btn-info pull-left" %>
			  		<div style="margin-left: 150px;">
				  		<%= f.submit :cancel, :class => "btn", :'data-dismiss' => "modal" %>
			  		</div>
				<% end %>
			</div>
		</div>
	</div>
</div>