<br/><br/><br/>
<%= render 'pages/home_partials/user_feedback_form_modal' %>
<br/>
<H3>Find a model legal document</H3>

<br/> 

<!-- Search Box -->
<%= render 'forms/search' %>

<!-- Form List -->
<% if @forms != nil %>
	<h3><%= pluralize(@total_forms, 'result') %>:</h3><br/>
	<% @i = 1 %>
	<% @forms.each do |f| %>
	  <tr>
	    <td><%= render 'forms/form_summary', :f => f %></td>
	  </tr>
	  <% @i += 1 %>
	  <% if @i < @forms.count+1 %>
	  	  <hr/>
	  <% end %>
	<% end %>
	<%= will_paginate(@forms) %>
<% else %>
	<br/>
	<h3>You have:</h3><br/>
	<%= link_to current_user.form_requests.where("fufilled != true").count, :controller => "pages", :action => "requestcenter", :scope => "me" %> open requests <br/><br/>
	<%= link_to current_user.form_requests.where("fufilled = true").count, :controller => "pages", :action => "requestcenter", :scope => "me" %> completed requests <br/><br/>
	shared <%= link_to current_user.forms.count, history_path %> documents<br/>
<% end %>