<div id="feedbackmodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <% @feedback = UserFeedback.new %>
  <div class="well">
      <p>We take your feedback very seriously. You can also email feedback to us at <a href="mailto:suggestions@vizibid.com">suggestions@vizibid.com</a>.</p>
      <%= form_for @feedback do |f| %>
        <%= f.label :subject %>
        <%= f.text_field :subject%>
        <%= f.label :comments %>
        <%= f.text_area :comment, :size => "5x10" %>
        <%= f.submit :submit, :class => "btn btn-info", :style => "margin-right:5px;"%>
        <%= f.submit :cancel, :class => "btn", :'data-dismiss' => "modal" %>
      <% end %>
  </div>

</div>

<div class= "span4" style="margin-top: 25px; font-size: 13px;">  
  You have <%= pluralize(current_user.download_allocation, 'download') %>  left. <br/>Upload a document to get 5 more download credits.
  <br/>
</div>