<div class="tab-content-root">
  <div>
  	<%= render 'form_requests/new_form_request_modal' %>
  	<ul class="nav nav-pills pull-right">
  	  <li class="active"><a href="#">Open Requests</a></li>
  	  <li><a href="#">Fulfilled Requests</a></li>
  	</ul>
  </div>
  <br/>
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <% i = 0 %>
      <% @form_requests.each do |f| %>
        <li class="<% if i == 0 %> active <% end %>"><a href="#r<%= i %>" data-toggle="tab"><%= f.name %></a></li>
        <% i = i + 1 %>
      <%end%>
    </ul>
    <div class="tab-content">
      <% i = 0 %>
      <% @form_requests.each do |f| %>
        <div class="tab-pane <% if i == 0 %> active <% end %>" id="r<%= i %>">
          <p><%= f.description %></p>
        </div>
        <% i = i + 1 %>
      <% end %>
    </div>
  </div>
</div>