<% provide(:title, 'Feedback') %>
<div class = "container">
	<div class = "row">
		<div class = "span7 offset2">
			<br/>
			<strong><p>Please let us know any feedback you have for us. We'll be sure to read it and respond.</p></strong>

			<%= form_for(@feedback) do |f| %>
				<%= f.label :subject %>
				<%= f.text_field :subject%>
				<%= f.label :comments %>
				<%= f.text_area :comment, :size => "5x10" %>
				<%= f.submit :submit, :class => "btn btn-success" %>
			<% end %>
		</div>
	</div>
</div>