<% provide(:title, 'Forum') %>
<br/><br/>
<h3>Forum</h3>
<br/>

<!-- todo: make search work -->
<%= form_tag forum_path, :method => 'get' do %>
	<%= text_field_tag :search, params[:search], :placeholder => "Search Posts", :class => "searchbox"%>
	<%= submit_tag "Search", :class => "btn btn-info" %>
<% end %>

<% if @permitted_user %>
	<%= render 'pages/forum_partials/forum_post_modal' %><br/>
<% else %>
	<%= render 'layouts/noaccess_modal.html.erb', :type => "forum_post" %><br/>
<% end %>

<% @i = 1 %>
<% if @forumposts != nil %>
	<br/>
	<h3><%= pluralize(@total_posts, 'result') %>:</h3><br/>
	<% @forumposts.each do |f| %>
	  <tr>
	    <td><%= render 'pages/forum_partials/forum_post_summary', :f => f %></td>
	  </tr>
	  <% @i += 1 %>
	  <% if @i < @forumposts.count+1 %>
	  	  <hr/>
	  <% end %>
	<% end %>
	<%= will_paginate(@forumposts) %>
<% end %>

