$('.alert').remove()

<%# if flash[:success] %>
		//$('.container.maincontent').prepend('<div class = "alert alert-success"><%=j flash[:success] %></div>')
		<%#= flash[:success] = nil %>
<%# end %>

<%# if flash[:error] %>
	//	$('.container.maincontent').prepend('<div class = "alert alert-error"><%=j flash[:error] %></div>')
		<%#= flash[:error] = nil %>
<%# end %>

<% if params[:path] == "password" %>
	$('div#content').html("<%=j render :partial=> "pages/settings_partials/password_settings" %>");
<% elsif params[:path] == "account" %>
	$('div#content').html("<%=j render :partial=> "pages/settings_partials/account_settings" %>");
<% elsif params[:path] == "notifications" %>
	$('div#content').html("<%=j render :partial=> "pages/settings_partials/notifications_settings" %>");
<% elsif params[:path] == "profile" %>
	$('div#content').html("<%=j render :partial=> "pages/settings_partials/profile_settings" %>");
<% end %>