<% provide(:title, 'Share Documents') %>

<strong><p>Complete and submit this form to upload a new model legal document to Vizibid.</p></strong>
<div class = "row">
  <div class = "span7">
    <%= form_for @form, :html => {:multipart => true} do |f| %>
      <div class="field">
        Name of Document
        <u><a href="#" rel="tooltip" data-placement="right" title="Choose a name for this document that will help other users understand what this document is. Be specific."><i class="icon-question-sign"></i></a></u>
        <%= f.text_field :name %>

        Description
      	<u><a href="#" rel="tooltip" data-placement="right" title="Please provide a thorough description of the document you are requesting. Be specific. This information will help other users provide a document that meets your needs."><i class="icon-question-sign"></i></a></u>
      	<%= f.text_area :description, :size => "10x10"%>
      	Jurisdiction
        <u><a href="#" rel="tooltip" data-placement="right" title="Select the jurisdiction where you want to use this document. If the document does not need to be jurisdiction-specific, select &#34;Any&#34;."><i class="icon-question-sign"></i></a></u>
      	<div class = "jurisdropdown">
      		<%= f.select :jurisdiction, options_for_select(us_states)%>
      	</div>
          Keywords
          <u><a href="#" rel="tooltip" data-placement="right" title="List any helpful keywords (which can be words or phrases) that you would use in a search for the document you are requesting. Separate each word or phrase with a comma or semi-colon. The more thorough and specific your keywords are, the better."><i class="icon-question-sign"></i></a></u>
          <%= f.text_area :keywords, :size => "10x5"%>
                </div>
          <%= f.file_field :form, :style => "Display: inline;" %>


      <div >
        <%= f.submit "Submit", :class => "btn btn-info"%>
      </div>
    <% end %>
  </div>
</div>

