<% provide(:title, 'Share Forms') %>

<h1>Share Forms</h1>
<strong><p>Complete and submit this form to upload a new model legal document to Vizibid.</p></strong>

<%= form_for @form, :html => {:multipart => true} do |f| %>
  <div class="field">
  	<%= f.label :Description %>
  	<%= f.text_area :description, :size => "10x10", :placeholder => "Describe the document, being as specific as possible." %>
  	<%= f.label :Jurisdiction %>
  	<div class = "jurisdropdown">
  		<%= f.select :jurisdiction, options_for_select(us_states) %>
  	</div>
      <%= f.label :Keywords %>
      <%= f.text_area :keywords, :size => "10x5", :placeholder => "List any helpful keywords associated with the document you're uploading for seperate by a comma. E.g., contract, divorce, etc." %>
      <%= f.file_field :form %>
  </div>
  <div class="actions">
    <%= f.submit "Upload", :class => "btn btn-large btn-success"%>
  </div>
<% end %>