<H3>Email notifications</H3><br/>

<%= form_for(current_user.user_notification) do |f| %>
	<b>Activity related to you and your documents </b><br/><br/>
	Email me when:&nbsp;&nbsp;&nbsp;
	<%= f.check_box :requests, :style => "margin-bottom: 7px;" %>
	<%= f.label :requests, "responses are posted to my requests", :style => "display:inline;" %><br/>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.check_box :forms, :style => "margin-bottom: 7px; margin-left: 2px;"  %>
	<%= f.label :forms, "comments are posted to my forms", :style => "display:inline;" %>
	<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= f.check_box :downloads, :style => "margin-bottom: 7px; margin-left: 2px;"  %>
	<%= f.label :downloads, "I download a new document", :style => "display:inline;" %>
	<br/><br/><b>Updates from Vizibid</b><br/></br>
	Email me with:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= f.check_box :news, :style => "margin-bottom: 7px;"  %>
	<%= f.label :news, "news about Vizibid and feature updates", :style => "display:inline;" %>
	<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= f.check_box :tips, :style => "margin-bottom: 7px;"  %>
	<%= f.label :tips, "things about Vizibid I'm missing", :style => "display:inline;" %>
	<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= f.check_box :surveys, :style => "margin-bottom: 7px;"  %>
	<%= f.label :surveys, "participation in Vizibid research surveys", :style => "display:inline;" %>
	<br/><br/><%= f.submit "Save changes", class: "btn btn-info" %>

<% end %>