<H3>Password Settings</H3><br/>
<%= form_for(current_user) do |f| %>
	<%= f.label "Current password:" %>
	<%= f.password_field :password %>
	<%= f.label "Choose a new password with at least 6 characters, including 1 number:" %>
	<%= f.password_field :newpassword %>
	<%= f.label "Re-enter your new password:" %>
	<%= f.password_field :newpassword_confirmation %>
	<%= hidden_field_tag :password_reset, true %>
	<%= f.submit "Save Changes", class: "btn btn-info" %>
<% end %>