<H3>Password Settings</H3><br/>
<%= form_for(current_user) do |f| %>
	<%= f.label "Current password" %>
	<%= f.password_field :password %>
	<%= f.label "New password" %>
	<%= f.password_field :newpassword %>
	<%= f.label "Verify password" %>
	<%= f.password_field :newpassword_confirmation %>
	<%= hidden_field_tag :password_reset, true %>
	<%= f.submit "Save changes", class: "btn btn-info" %>
<% end %>