<H3>Profile</H3><br/>
<%= form_for(current_user.user_detail) do |f| %>
	<%#= render 'shared/error_messages' %>
	<%= f.label :location %>
	<%= f.text_field :location %>
	<%= f.label :website %>
	<%= f.text_field :website %>
	<%= f.label :practice_area, 'Practice Area' %>
	<%= f.text_field :practice_area %>
	<%= f.label :bio %>
	<%= f.text_area :bio, :size => "10x5" %>
	<br/>
	<%= f.check_box :show_uploaded, :style => "margin-bottom: 6px;" %>
	<%= f.label :show_uploaded, "Show the documents I've shared on my profile", :style => "display:inline;" %><br/>
	<%= f.check_box :show_requests, :style => "margin-bottom: 6px;"%>
	<%= f.label :show_requests, "Show the documents I've requested on my profile", :style => "display:inline;" %><br/>
	<%= f.check_box :show_comments, :style => "margin-bottom: 6px;"%>
	<%= f.label :show_comments, "Show my comments on my profile", :style => "display:inline;" %><br/>
	<br/>
	<%= f.submit "Save changes", class: "btn btn-info" %>
<% end %>