<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>New response to your request received from: <%= link_to @currentuser.name, user_url(@currentuser) %> on <%=link_to @request.name, form_request_url(@request)%></p>
    <p>
      	Comment: <%= @requestsubmission.comment %><br/><br/>
		<% if @requestsubmission.form_id != 0 && @requestsubmission.form_id != nil %>
			<%= link_to "Associated doucment", form_url(@requestsubmission.form_id) %>
		<% end %>
    </p>
    <%= render 'mailer/corp_disclaimer_html' %>
  </body>
</html>