<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>New feedback received from, <%= @user.name %>, <%= @user.email %></h3>
    <p>
      Subject: <%= @subject %>
    </p>
    <p>
      Message: <%= @message %>
    </p>
    <%= render 'mailer/corp_disclaimer_html' %>
  </body>
</html>