<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      To verify your account click the link below.<br/>
    </p>
    <p>
      <%= verify_url(@user.verification_token) %>
    </p>
    <% if @manual == true %>
      <%= @user.name %>
      <%= @user.email %>
      <%= @user.bar_number %>
      <%= @user.state_licensed %>
    <% end %>
  </body>
</html>