<% if comment.score == nil %>
	<% score = 0 %>
<% else %>
	<% score = comment.score %>
<% end %>

<% cv = CommentVote.find_by_comment_id_and_user_id(comment.id, current_user.id) %>
<% if cv == nil %>
	<% classvoteup = "votearrow" %>
	<% classvotedown = "votearrow" %>
<% elsif cv.value == 1 %>
	<% classvoteup = "votearrowup" %>
	<% classvotedown = "votearrow" %>
<% else %>
	<% classvoteup = "votearrow" %>
	<% classvotedown = "votearrowdown" %>
<% end %>

<li>
	<%= link_to comment_path(comment.id, :vote => "pos"), :method => :put, :remote => true, :class => classvoteup, :id => "voteup#{comment.id}"  do %>
		&nbsp;<i class="icon-arrow-up"></i>
	<% end %>
	<% if comment.user != nil %>
		<% name = comment.user.name.gsub(' ', '_') %>
		<strong><%= link_to comment.user.name, usershow_path(name.downcase), :class => "commentusername" %></strong>
	<% end %>
	<span class="timestamp"><%= time_ago_in_words(comment.created_at) %> ago</span><br/>
	<%= link_to comment_path(comment.id, :vote => "neg"), :method => :put, :remote => true, :class => classvotedown, :id => "votedown#{comment.id}" do %>
	&nbsp;<i class="icon-arrow-down"></i>
	<% end %>
	<span class="commentscore<%=comment.id%>" style="color: #999;"><%= pluralize(score, 'point') %>  </span>
	<br/><br/>
	<div class = "formCommentContent"><%= comment.content %></div>
	<% associatedform = Form.find_by_sourcecomment_id(comment.id) %>
	<% if associatedform != nil%>
		<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="associatedform">associated document: <%= link_to associatedform.name, form_path(associatedform)%></span><br/>
	<% end %>
    <div class="actions">
    	<% if comment.user != nil %>
	    	<%= render 'forms/form_comment_modal', :parent_id => comment.id, :form_id => @form.id, :button => false %>
	    	<% if comment.user.id == current_user.id %>
	    		&nbsp;&nbsp;&nbsp;<%= link_to "Delete", comment_path(comment, :form_id => @form.id), :method => :delete %>
	    	<% end %>
    	<% end %>
	</div>
</li>
