<% @form_to_upload = Form.new %>
<a data-toggle="modal" href="#modalFormUpload" class="btn">Upload</a>

<div id="modalFormUpload" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="well">
    <strong><p>Complete and submit this form to upload a new model legal document to Vizibid.</p></strong>
    <div class = "row-fluid">
      <div class = "span6">
        <%= form_for @form_to_upload, :html => {:multipart => true} do |f| %>
          <div class="field">

            Descriptive Title
            <u><a href="#" rel="tooltip" data-placement="right" title="Please provide a descriptive title of the document you are requesting. Be specific. This information will help other users provide a document that meets your needs."><i class="icon-question-sign"></i></a></u>
            <%= f.text_area :description, :size => "10x10"%>
            
            Practice Area
            <u><a href="#" rel="tooltip" data-placement="right" title="Select the practice area where this document belongs."><i class="icon-question-sign"></i></a></u>
            <div>
              <%= f.select :practice_area_id, options_for_select(practice_areas)%>
            </div>
            Jurisdiction
            <u><a href="#" rel="tooltip" data-placement="right" title="Select the jurisdiction where you want to use this document. If the document does not need to be jurisdiction-specific, select &#34;Any&#34;."><i class="icon-question-sign"></i></a></u>
            <div class = "jurisdropdown">
              <%= f.select :jurisdiction, options_for_select(us_states)%>
            </div>
              Keywords
              <u><a href="#" rel="tooltip" data-placement="right" title="List any helpful keywords (which can be words or phrases) that you would use in a search for the document you are requesting. Separate each word or phrase with a comma or semi-colon. The more thorough and specific your keywords are, the better."><i class="icon-question-sign"></i></a></u>
              <%= f.text_area :keywords, :size => "10x5"%>
                    </div>
              <%= f.file_field :form, :style => "Display: inline;" %>
          <div >
            <%= f.submit "Submit", :class => "btn btn-info"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>