<div class="row-fluid search-doc-name">
	<% if f.name != nil %>
		<%= link_to f.name, f %>
	<% else %>
		<%= link_to File.basename(f.form.url, File.extname(f.form.url)), f %>
	<% end %>
</div>

<div class="row-fluid search-doc-content">
	<% if f.user != nil %>
		<% name = f.user.name.gsub(' ', '_') %>
		uploaded by <%= link_to f.user.name, usershow_path(name.downcase) %>  <%=time_ago_in_words(f.created_at) %> ago
	<% end %>
</div>

<div class="row-fluid search-doc-content">
	<% if !f.average_rating.nan? %>
		average rating <%= f.average_rating.round(2) %> (by <%= pluralize(f.form_ratings.count, 'member') %>)
	<% else %>
		ro ratings
	<% end %>
</div>

<div class="row-fluid search-doc-content">
	<%= pluralize(f.comments.count, 'response') %>
</div>

<div class="row-fluid">
	<%= render 'forms/save_form_modal', :smallbutton => true %>
</div>