<% @form_to_upload = Form.new %>
<a data-toggle="modal" href="#modalFormUpload" class="btn" style="margin-left: 5px;"><img src="/assets/doc-15x15.png"/> Upload</a>

<div id="modalFormUpload" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="well">
    <div class = "row">
      <div class = "span6">
        <h3>Upload</h3><br />
        <p style="line-height: 1em;">REMEMBER: Remove all confidential, privileged, and private data before uploading.</p>
        <%= form_for @form_to_upload, :html => {:multipart => true} do |f| %>
          <div class="field">

            Descriptive Title*
            <u><a href="#" rel="tooltip" data-placement="right" title="Enter a title that describes the document you are uploading."><i class="icon-question-sign"></i></a></u>
            <%= f.text_area :description, :size => "10x10"%>
            
            Practice Area
            <u><a href="#" rel="tooltip" data-placement="right" title="Select the practice area where this document belongs."><i class="icon-question-sign"></i></a></u>
            <div>
              <%= f.select :practice_area_id, options_for_select(practice_areas)%>
            </div>
            Jurisdiction
            <u><a href="#" rel="tooltip" data-placement="right" title="Select the jurisdiction where this document should be used. If the document is not jurisdiction-specific, select &quot;Any.&quot;"><i class="icon-question-sign"></i></a></u>
            <div class = "jurisdropdown">
              <%= f.select :jurisdiction, options_for_select(us_states)%>
            </div>
            Keywords
            <u><a href="#" rel="tooltip" data-placement="right" title="List any helpful words or phrases that others might use in searching for this document. Separate each word or phrase with a comma or semi-colon."><i class="icon-question-sign"></i></a></u>
            <%= f.text_area :keywords, :size => "10x5"%>
          </div>
          <%= f.file_field :form, :style => "Display: inline;" %>
          <div>
            * Required Field
          </div><br />
          <div >
            <%= f.submit "Submit", :class => "btn btn-info"%>
            <%= f.submit :cancel, :class => "btn", :'data-dismiss' => "modal" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>