<div id="inappropriateDocModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="well">

    <p>Click the report document button to report this document as inappropriate. Our team will review this document and take proper action.</p>

  	<%= form_for(@id, :url => inappropriate_documents_path(:formid => formid)) do |f| %>
  		<%= f.radio_button :reason, 'option1', :checked => true  %>
  		<%= label :reason_option1, "Form contains inappropriate content", :style => "Display: inline;" %>
  		<br/>
  		<%= f.radio_button :reason, 'option2' %>
  		<%= label :reason_option2, "Form description is misleading", :style => "Display: inline;" %>
  		<br/>
  		<%= f.radio_button :reason, 'other' %>
  		<%= label :reason_other, "Other", :style => "Display: inline;" %>
  		<br/><br/>
  		<%= f.submit "Report", :class => "btn btn-danger", :style => "margin-right:5px;"%>
  		<%= f.submit :cancel, :class => "btn", :'data-dismiss' => "modal" %>
  	<% end %>

  </div>

</div>

<a style = "color: red;" data-toggle="modal" href="#inappropriateDocModal" >Report inappropriate document</a>