
  <%= form_for ratings_ballot(@form.id), :remote => true, :html => {:class => 'rating_ballot', :id => 'rating'} do |f| %>
    <span style="float: left"><strong>Your rating:&nbsp;</strong></span>
  	<%= f.label "value_1", content_tag(:span, '1'), :class=>"rating", :id=>"1" %>
  	<%= radio_button_tag "rating[value]", 1, current_user_rating(@form.id) == 1, :class => 'rating_button', :id =>"form_rating_value_1" %>
  	<%= f.label "value_2", content_tag(:span, '2'), :class=>"rating", :id=>"2" %>
  	<%= radio_button_tag "rating[value]", 2, current_user_rating(@form.id) == 2, :class => 'rating_button', :id =>"form_rating_value_2"%>
  	<%= f.label "value_3", content_tag(:span, '3'), :class=>"rating", :id=>"3" %>
  	<%= radio_button_tag "rating[value]", 3, current_user_rating(@form.id) == 3, :class => 'rating_button', :id =>"form_rating_value_3" %>
  	<%= f.label "value_4", content_tag(:span, '4'), :class=>"rating", :id=>"4" %>
  	<%= radio_button_tag "rating[value]", 4, current_user_rating(@form.id) == 4, :class => 'rating_button', :id =>"form_rating_value_4" %>
  	<%= f.label "value_5", content_tag(:span, '5'), :class=>"rating", :id=>"5" %>
  	<%= radio_button_tag "rating[value]", 5, current_user_rating(@form.id) == 5, :class => 'rating_button', :id =>"form_rating_value_5" %>

	  <%= hidden_field_tag :formid, @form.id.to_s %>
  	<%= f.submit "Submit", :id => 'rating_submit' %>
  <% end %>