<% provide(:title, 'Form Details')%>

<div class = "container-fluid">
	<%= render 'forms/search'%>
	<br/>

	<div class="row-fluid">
		<div class = "span8">
			<% if @form.name != nil %>
				<H4><%= @form.name %></H4>
			<% else %>
				<H4><%= File.basename(@form.form.url, File.extname(@form.form.url)) %></H4><br/>
			<% end %>
			<strong>Jurisdiction: </strong> <%= @form.jurisdiction %> <br/>
			<% name = @form.user.name.gsub(' ', '_') %>
			<strong>Uploaded by:</strong> <%=link_to @user, usershow_path(name.downcase) %> <%= time_ago_in_words(@form.created_at) %> ago<br/>
			<strong>Form Downloaded: </strong><%= @form.downloads.count %> times <br/>
			<strong>Average Rating: </strong> 
			<div class = "averagerating" style="Display: inline;">
				<% if !@form.average_rating.nan? %>
					<%= @form.average_rating.round(2) %>
				<% else %>
					Document has no ratings.
				<% end %>
			</div>
			<% if @form.description != nil && @form.description.length > 0 %>
				<br/><br/><strong>Description:</strong> <%= @form.description %>
			<% end %>
			<br/><br/>
			<% if @form.keywords != nil && @form.keywords.length > 0 %>
				<em>Associated Keywords:</em><br/> <%= @form.keywords %></H1>
				<br/><br/>
			<% end %>

			<%= render 'forms/form_download_modal', :form => @form %>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<%= render 'form_follows/form_follow_button', :formid => @form.id, :following => @following %>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<% if @form.user.id != current_user.id && @inappropriate_document_report == nil && @pemitted_user == true %>
				<%= render 'forms/inappropriate_document_modal', :formid => @form.id %>
			<% end %>
			
			<% if @form.user.id != current_user.id && document_downloaded && @pemitted_user == true %>
				<div id = "ratingstext">
					<%if current_user_rating(@form.id) != "N/A" %>
						<br/><h4>Your rating:</h4>
					<% else %>
						<br/><h4>Rate this form:</h4>
					<% end %>
				</div>
				<%= render 'forms/ratings_form' %>
			<% end %>
			<br/><br/><H4>Comments (<%=@comments.count%>)</H4>
			<hr/>
		</div>
	</div>

	<% if @pemitted_user %>
		<div class = "row-fluid">
			<%= render 'forms/form_comment_modal', :parent_id => -1, :form_id => @form.id, :button => true %>
			<% if !@form.comments.any? %>
				<h4>Please let us know what you think of this document. </h4><br/>
			<%else%>
				<br/><br/>Sort by:
			 	<ul class="nav nav-pills">
				    <li 
				    <% if @sort_by == "top" || @sort_by == nil %>
				    class = "active" <% end %>><%= link_to :top, form_path(@form, :sorted_by => "top"), :remote => true%></li>
				    <li
				    <% if @sort_by == "new" %>
				    class = "active" <% end %>><%= link_to :newest, form_path(@form, :sorted_by => "new"), :remote => true%></li>
				    <li
				    <% if @sort_by == "old" %>
				    class = "active" <% end %>><%= link_to :oldest, form_path(@form, :sorted_by => "old"), :remote => true%></li>
			  	</ul>
			<%end%>

			<% if @form.comments.any? %>
				<%= render 'forms/form_comments' %>
			<% end %>
		<% end %>
	</div>
</div>