<% provide(:title, 'Form Details')%>

<br/> 

<div class = "container">
	<%= render 'layouts/search' %>
	<hr/>

	<div class="row">
		<H3><%= File.basename(@form.form.url, File.extname(@form.form.url)) %></H3><br/>
		<strong>Jurisdiction: </strong> <%= @form.jurisdiction %> <br/>
		<strong>Uploaded by:</strong> <%= @user %> <%= time_ago_in_words(@form.created_at) %> ago<br/>
		<strong>Form Downloaded: </strong> <%= @form.num_downloads %> times <br/>
		<br/><strong>Description:</strong> <%= @form.description %><br/><br/>
		<% if @form.keywords != nil %>
			<% if @form.keywords.length > 0 %>
				<em>Associated Keywords:</em><br/> <%= @form.keywords %></H1>
				<br/><br/>
			<% end %>
		<% end %>
		<%= link_to "Download", {:controller => "forms", :action =>"download", :id => @form.id}, :class => "downloadlink", :target => "_blank"%> 
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#" style="color: red;">Report inappropriate document</a>
		<br/><br/>
		<H3>Comments (<%=@comments.count%>)</H3>
		<hr/>
	</div>

	<div class = "row">
		<% if !@form.comments.any? %>
			<h3>Please let us know what you think of this form. </h3>
		<%end%>
		<%= form_for(@comment) do |f| %>
		  	<div class="commentfield">
		    	<%= f.text_area :content, placeholder: "Compose new comment...", :size=>"1x7" %>
		  	</div>
		  	<%= hidden_field_tag(:form_id, @form.id) %>
		  	<%= f.submit "Save", class: "btn btn-medium btn-primary" %>
		<% end %>

		<% if @form.comments.any? %>
		<ul class="comments">
			<% @form.comments.each do |comment| %>
				<li>
					<strong><%= comment.user.name %></strong>
					<span class="timestamp"><%= time_ago_in_words(comment.created_at) %> ago</span><br/>
					<span class="content"><%= comment.content %></span>
				</li>
			<% end %>
		</ul>
		<% end %>
</div>
</div>


<!-- modal dialogue for not signed in user???

		<a class="btn" data-toggle="modal" href="#myModal" >Launch Modal</a>
	<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>

 -->