<% provide(:title, 'Form Details')%>
<br/> 

<div class = "container">
	<%= render 'layouts/search' %>
	<br/>

	<div class="row">
		<% if @form.name != nil %>
			<H3><%= @form.name %><H3>
		<% else %>
			<H3><%= File.basename(@form.form.url, File.extname(@form.form.url)) %></H3><br/>
		<% end %>
		<strong>Jurisdiction: </strong> <%= @form.jurisdiction %> <br/>
		<strong>Uploaded by:</strong> <%=link_to @user, user_path(@form.user.id) %> <%= time_ago_in_words(@form.created_at) %> ago<br/>
		<%if @form.form_requests.count > 0 %>
			<strong>Associated with request: <%= link_to @form.form_requests.first.name, form_request_path(@form.form_requests.first.id) %><strong/><br/>
		<% end %>
		<strong>Form Downloaded: </strong> <%= @form.downloads.count %> times <br/>
		<strong>Average Rating: </strong> 
		<div class = "averagerating" style="Display: inline;">
		<% if !@form.average_rating.nan? %>
			<%= @form.average_rating.round(2) %>
		<% else %>
			Document has no ratings.
		<% end %>
		</div>
		<% if @form.description != nil && @form.description.length > 0 %>
			<br/><br/><strong>Description:</strong> <%= @form.description %>
		<% end %>
		<br/><br/>
		<% if @form.keywords != nil && @form.keywords.length > 0 %>
			<em>Associated Keywords:</em><br/> <%= @form.keywords %></H1>
			<br/><br/>
		<% end %>

		<%= link_to "Download", {:controller => "forms", :action =>"download", :id => @form.id}, :class => "downloadlink"%> 
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<% if @form.user.id != current_user.id && @inappropriate_document_report == nil%>
			<%= render 'layouts/inappropriate_document_modal', :formid => @form.id %>
		<% end %>
		<br/>
		<h4>(<%= @form.form.to_s.split('.').last %> format)</h4>
		<% if @form.user.id != current_user.id && document_downloaded%>
			<div id = "ratingstext">
				<%if current_user_rating(@form.id) != "N/A" %>
					<br/><h3>Your rating:</h3><br/>
				<% else %>
					<br/><h3>Rate this form:</h3><br/>
				<% end %>
			</div>
			<%= render 'layouts/ratings_form' %>
		<% end %>
		<br/><br/><H3>Comments (<%=@comments.count%>)</H3>
		<hr/>
	</div>

	<div class = "row">
		<%= render 'layouts/form_comment_modal', :parent_id => -1, :form_id => @form.id, :button => true %>
		<% if !@form.comments.any? %>
			<h3>Please let us know what you think of this document. </h3><br/>
		<%else%>
			<br/><br/>Sort by:
		 	<ul class="nav nav-pills">
			    <li 
			    <% if @sort_by == "top" || @sort_by == nil %>
			    class = "active" <% end %>><%= link_to :top, form_path(@form, :sorted_by => "top"), :remote => true%></li>
			    <li
			    <% if @sort_by == "new" %>
			    class = "active" <% end %>><%= link_to :newest, form_path(@form, :sorted_by => "new"), :remote => true%></li>
			    <li
			    <% if @sort_by == "old" %>
			    class = "active" <% end %>><%= link_to :oldest, form_path(@form, :sorted_by => "old"), :remote => true%></li>
		  	</ul>
		<%end%>

		<% if @form.comments.any? %>
			<%= render 'layouts/form_comments' %>
		<% end %>
</div>
</div>
</div>