 <div class = "row">
      <div class = "span12">
        <%= form_for @f, :html => {:multipart => true} do |f| %>
          <div class="field">

            Descriptive Title
            <u><a href="#" rel="tooltip" data-placement="right" title="Enter a title that describes the document you are uploading."><i class="icon-question-sign"></i></a></u>
            <%= f.text_area :description, :size => "10x10"%>
            
            Practice Area
            <u><a href="#" rel="tooltip" data-placement="right" title="Select the practice area where this document belongs."><i class="icon-question-sign"></i></a></u>
            <div>
              <%= f.select :practice_area_id, options_for_select(practice_areas)%>
            </div>
            Jurisdiction
            <u><a href="#" rel="tooltip" data-placement="right" title="Select the jurisdiction where you want to use this document. If the document does not need to be jurisdiction-specific, select &quot;Any.&quot;"><i class="icon-question-sign"></i></a></u>
            <div class = "jurisdropdown">
              <%= f.select :jurisdiction, options_for_select(us_states)%>
            </div>
            <div>
              Origin
              <%= f.text_field :origin, :size => "10x10"%>
            </div>
            Keywords
            <u><a href="#" rel="tooltip" data-placement="right" title="List any helpful words or phrases that others might use in searching for this document. Separate each word or phrase with a comma or semi-colon."><i class="icon-question-sign"></i></a></u>
            <%= f.text_area :keywords, :size => "10x5"%>
            <%= f.file_field :form, :style => "Display: inline;" %>
          <div >
            <%= f.submit "Submit", :class => "btn btn-info"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>