<H3>Account Settings</H3><br/>
<%= form_for(current_user) do |f| %>
	<%#= render 'shared/error_messages' %>
	<%= f.label :name %>
	<%= f.text_field :name, :placeholder => "email" %>
	<%= f.label :email %>
	<%= f.text_field :email, :placeholder => "email" %>
	<%= hidden_field_tag :account_reset, true %>
	<%= f.submit "Save changes", class: "btn btn-info" %>
<% end %>