<li>
	<strong><%= link_to comment.user.name, user_path(comment.user) %></strong>
	<span class="timestamp"><%= time_ago_in_words(comment.created_at) %> ago</span><br/>
	<span class="content"><%= comment.content %></span><br/>
	<% associatedform = Form.find_by_sourcecomment_id(comment.id) %>
	<% if associatedform != nil%>
		<span class="associatedform">associated document: <%= link_to associatedform.name, form_path(associatedform)%></span><br/><br/>
	<% end %>
    <div class="actions">
    	<%= render 'layouts/form_comment_modal', :parent_id => comment.id, :form_id => @form.id, :button => false %>
	</div>
</li>