<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Help", '#' %></li>
      <li><%= link_to "Terms", '#' %></li>
      <li><%= link_to "Privacy", '#' %></li>
       <li><%= link_to "Contact Us", '#' %></li>
      <li>Vizibid &copy; 2012</li>
    </ul>
  </nav>
</footer>
