<footer class="footer">
  <div class="main_footer_div">
    <div class="footer_social_links">
    <!--  <span class="footer_social_span">
        Follow Us:&nbsp;
        <a href="http://www.facebook.com/Vizibid" target="_blank"><i class="icon-facebook-sign icon-large" style="color: white;"></i></a> &nbsp;
        <a href="https://twitter.com/vizibid" target="_blank"><i class="icon-twitter icon-large" style="color: white;"></i></a> &nbsp;
        <a href="http://www.linkedin.com/company/vizibid" target="_blank"><i class="icon-linkedin icon-large" style="color: white;"></i></a> &nbsp;
      </span>-->
    </div>
    <div class="footer_main_links">
      <span>
        <%= link_to "Support", support_path %>&nbsp;&nbsp;|&nbsp;
        <%= link_to "About", about_path %>&nbsp;&nbsp;|&nbsp;
        <a href="http://blog.vizibid.com" target="_blank">Blog</a>&nbsp;&nbsp;|&nbsp;
        <%= link_to "Privacy Policy", privacy_policy_path %>&nbsp;&nbsp;|&nbsp;
        <%= link_to "Terms of Use", terms_of_use_path %>&nbsp;&nbsp;|&nbsp;
        <%= link_to "Disclaimer", terms_of_use_path(:anchor => "no_advice_disclaimer") %>
      </span>
    </div>
    <div class="footer_copyright">
      <span class="footer_copyright_span">&copy; 2013 Vizibid, LLC</span>
    </div>
  </div>
</footer>

