<% if !(signed_in?) && (defined?(@home)).nil? %>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <nav>
          <a class="pull-left" href="<%=root_path%>"><img src="/assets/vizibid-logo.png" width = "148" height="49"/></a>
          <span class="pull-right">
            <%= render 'sessions/sign_in_modal' %>
          </span>
        </nav>
      </div>
    </div>
  </div>
<% elsif signed_in? %>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <nav>
          <a class="pull-left" href="<%=root_path%>"><img src="/assets/vizibid-logo.png" width = "148" height="49"/></a>
          <span class="pull-right navbar-signed-links">
            <span id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle headerli" data-toggle="dropdown" style="color:white;">
                <%= @current_user.name %> <span style="color:white; border-top-color:white;" class="caret"></span>
              </a>
              <ul class="dropdown-menu pull-right">
                <li><%= link_to "History", history_path %></li>
                <% name = current_user.name.gsub(' ', '_') %>
                <li><%= link_to "Profile", usershow_path(name.downcase) %></li>
                <li><%= link_to "Settings", settings_path("account") %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </div>
          </span>
        </nav>
      </div>
    </div>
  </div>
<% end %>