<% if @home == true %>
  <header>
<% else %>
  <header style = "height: 80px; color: gray; background-color: #666666;">
<% end %>

  <div class="navbar-wrapper">
    <div class="container">
      <div class="navbar navbar-text">
      <div class="navbar-inner">
      <% if signed_in? %>
        <nav>
          <a class="brand" href="<%=root_path%>">Vizibid</a>   
          <ul class="nav pull-right">
              <li class="<%#= 'active' if current_page?(root_path) %>">
                <%= link_to "Find Documents", root_path %>
              </li> 
              <li class="<%#= 'active' if current_page?(requestcenter_path) %>">
                <%= link_to "Request Center", requestcenter_path %>
              </li>
              <li class="<%#= 'active' if current_page?(share_path) %>">
                <% if check_permissions(nil) %>
                  <%= link_to "Share", share_path %>
                <% else %>
                  <a data-toggle="modal" href="#noaccessModal_share" data-backdrop="static" >Share</a>
                <% end %>
              </li>
              <li class="<%#= 'active' if current_page?(history_path) %>">
                <%= link_to "Forum", forum_path %>
              </li>
              <li class="<%#= 'active' if current_page?(history_path) %>">
                <%= link_to "History", history_path %>
              </li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle headerli" data-toggle="dropdown" style="color:white;">
                  <%= @current_user.name %> <span style="color:white; border-top-color:white;" class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <% if check_permissions(nil) %>
                    <li><%= link_to "My Requests", :controller => "pages", :action => "requestcenter", :scope => "me" %></li>
                  <% end %>
                  <% name = current_user.name.gsub(' ', '_') %>
                  <li><%= link_to "Profile", usershow_path(name.downcase) %></li>
                  <li><%= link_to "Settings", settings_path("account") %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", signout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        <% else %>
        <nav>
          <a class="brand" href="<%=root_path%>">Vizibid</a> 
          <ul class="nav pull-right">
            <% if @sign_in_page != true %>
              <li class="headerli">
                <%= render 'sessions/sign_in_modal' %>
              </li>
            <% end %>
          </ul>  
          </nav>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if !signed_in? && @home %>
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("home_gradient.jpg") %>
          <div class="container">
            <div class="carousel-caption">
              <h1 style = "text-align: left;">Find model legal documents quickly</h1>
              <p class="lead">by searching our database of documents and viewing comments and suggestions.</p>
              <%= link_to("Learn More", why_path, :class=>"btn  btn-info") %>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag("home_gradient.jpg") %>
          <div class="container">
            <div class="carousel-caption">
              <h1 style = "text-align: left;">Participate</h1>
              <p class="lead">answer and ask questions, share, comment and rate documents.</p>
              <%= link_to("Learn More", why_path, :class=>"btn  btn-info") %>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag("home_gradient.jpg") %>
          <div class="container">
            <div class="carousel-caption">
              <h1 style = "text-align: left;">Earn credits</h1>
              <p class="lead">for contributing to the community</p>
              <%= link_to("Learn More", why_path, :class=>"btn  btn-info") %>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
<% end %>
</header>