<% if signed_in? %>
  <header class="navbar navbar-fixed-top">
<% else %>
  <header class="navbar nsignedout">
<% end %>
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Vizibid", root_path, :id => "logo" %>
      <nav>
          <% if signed_in? %>
          <div class="span3 offset3 search">
            <%= form_tag root_path, :method => 'get' do %>
              <%= text_field_tag :search, params[:search], :placeholder => "Search Forms"%>
            <% end %>
          </div>
          <ul class="nav pull-right">
              <li class="divider-vertical"></li>
              <li><%= link_to "Home", root_path %></li>
              <li class="divider-vertical"></li>
              <li><%= link_to "Share Forms", share_path %></li>
              <li class="divider-vertical"></li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", signout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
          </ul>
        <% end %>
      </nav>
    </div>
  </div>
</header>