<br/><br/>
<H3>Find a model legal document</H3>

<br/> 

<!-- Search Box -->
<%= render 'layouts/search' %>

<!-- Form List -->
<% if @forms != nil %>
	
	<br/>
	<h4>
	 Results: <%= @forms.count %> documents &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sort by: <%= link_to "Relevance", '#' %> | <%= link_to "Rating", '#' %> | <%= link_to "Date", '#' %></div>
	</h4>

	<hr/>
	<br/>


	<% @i = 1 %>

	<% @forms.each do |f| %>
	  <tr>
	    <td><%= render 'layouts/form_summary', :f => f, :i => @i %></td>
	  </tr>
	  <br/><hr/>
	  <% @i += 1 %>
	<% end %>
<% end %>