<br/><br/>
<H3>Find a model legal document</H3>

<br/> 

<!-- Search Box -->
<%= render 'layouts/search' %>

<!-- Form List -->
<% if @forms != nil %>
	
	<hr/>
	<h4>
	 Results: <%= @forms.count %> documents &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	 <br/><br/>
	 Sort results by:
	 <br/><br/>
	 <ul class="nav nav-pills">
  		<li class = "active">
    		<%= link_to "Relevance", '#'%>
  		</li>
  		<li>
  			<%= link_to "Rating", '#' %>
  		</li>
  		<li>
  			<%= link_to "Date", '#' %>
  		</li>
	</ul>

	</div>
	</h4>

	<hr/>
	<br/>


	<% @i = 1 %>

	<% @forms.each do |f| %>
	  <tr>
	    <td><%= render 'layouts/form_summary', :f => f, :i => @i %></td>
	  </tr>
	  <br/><hr/>
	  <% @i += 1 %>
	<% end %>
<% end %>