<br/><br/>
<H3>Find a model legal document</H3>

<br/> 

<!-- Search Box -->
<%= render 'layouts/search' %>

<!-- Form List -->
<% if @forms != nil %>
	
	<hr/>
	<% @i = 1 %>
	<% @forms.each do |f| %>
	  <tr>
	    <td><%= render 'layouts/form_summary', :f => f, :i => @i %></td>
	  </tr>
	  <br/><hr/>
	  <% @i += 1 %>
	<% end %>
<% else %>
	<br/>
	<h3>You have:</h3><br/>
	<%= link_to current_user.form_requests.where("fufilled != true").count, :controller => "pages", :action => "requestcenter", :scope => "me" %> open requests <br/><br/>
	<%= link_to current_user.form_requests.where("fufilled = true").count, :controller => "pages", :action => "requestcenter", :scope => "me" %> completed requests <br/><br/>
	shared <%= link_to current_user.forms.count, history_path %> documents<br/>
<% end %>