<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <br/>
      <strong><p>Please let us know any feedback you have for us. We'll be sure to read it and respond.</p></strong>
      <%= form_for(@feedback) do |f| %>
        <%= f.label :subject %>
        <%= f.text_field :subject%>
        <%= f.label :comments %>
        <%= f.text_area :comment, :size => "5x10" %>
        <div class="btn-group">
          <%= f.submit :submit, :class => "btn btn-success", :style => "margin-right:5px;"%>
          <%= button_to "Cancel", "", :class => "btn btn-danger", :'data-dismiss' => "modal" %>
        </div>
      <% end %>
  </div>

</div>

<div class = "offset7">
  Your feedback is valuable!&nbsp;&nbsp;
  <a style = "color: green;" data-toggle="modal" href="#myModal" >Send us a suggestion</a>
</div>